<!-- start js include path -->
<script src="../../../public/assets/bundles/jquery/jquery.min.js"></script>
<script src="../../../public/assets/bundles/popper/popper.js"></script>
<script src="../../../public/assets/bundles/jquery-blockUI/jquery.blockui.min.js"></script>
<script src="../../../public/assets/bundles/jquery.slimscroll/jquery.slimscroll.js"></script>
<script src="../../../public/assets/bundles/feather/feather.min.js"></script>
<!-- bootstrap -->
<script src="../../../public/assets/bundles/bootstrap/js/bootstrap.min.js"></script>
<script src="../../../public/assets/bundles/bootstrap-switch/js/bootstrap-switch.min.js"></script>
<!-- Common js-->
<script src="../../../public/assets/app.js"></script>
<script src="../../../public/assets/layout.js"></script>
<script src="../../../public/assets/theme-color.js"></script>
<!-- material -->
<script src="../../../public/assets/bundles/material/material.min.js"></script>
</body>
</html>