<%- include('../../partials/head.ejs') -%>
<div class="page-container">
    <!-- style -->
    <link rel="stylesheet" href="../../public/assets/css/login.css">
    <%- include('../../pages/auth/login.ejs') -%>
</div>